@import url('./util/variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #bebebe;
  border-radius: 34px;
  border: 1px solid #bebebe;
  padding: 6px 6px 8px 6px;
}

.hideHeader {
  transform: translateY(-100%);
}
