@import url('./util/variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: var(--color);
}

.active {
  color: #bebebe;
  border-radius: 34px;
  border: 1px solid #bebebe;
  padding: 6px 6px 8px 6px;
}

.hideHeader {
  transform: translateY(-100%);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color);
  height: 40px;
  padding: 20px;
}

.swiper-pagination-bullet-active {
  background-color: var(--red);
}
